<!DOCTYPE html>
<html ng-app='feedModule'>
<head>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular-resource.min.js"></script>
</head>

<body ng-controller='FeedCtrl'>

<div ng-repeat="feed in feeds | orderBy:'title'">
    <h2><a href="{{feed.link}}" target="_blank">{{feed.title}}</a></h2>
    <p><span ng-repeat="item in feed.entries">
        <a href="{{item.link}}" target="_blank">{{item.title}}</a> (<span>{{item.publishedDate | date:'d-MM-yyyy HH:mm'}}</span>)<br />
    </span></p>
</div>

<script>


    var feeds = [];

angular.module('feedModule', ['ngResource'])
    .factory('FeedLoader', function ($resource) {
        return $resource('http://ajax.googleapis.com/ajax/services/feed/load', {}, {
            fetch: { method: 'JSONP', params: {v: '1.0', callback: 'JSON_CALLBACK'} }
        });
    })
    .service('FeedList', function ($rootScope, FeedLoader) {
        this.get = function() {
            var feedSources = [
                {title: 'pg', url: 'http://www.aaronsw.com/2002/feeds/pgessays.rss'},
                {title: 'Tynan', url: 'http://feeds.feedburner.com/tynan?format=xml'},
                {title: 'Von Wong', url: 'http://www.vonwong.com/blog/feed/'},
                {title: 'Bradon Treb', url: 'http://brandontreb.com/feed/'},
                {title: 'Jason Swett', url: 'http://www.jasonswett.net/feed/'},
                {title: 'Single Founder', url: 'http://www.singlefounder.com/feed/'},
                {title: 'Smashing Magazine', url: 'http://www.smashingmagazine.com/feed/'},
                {title: 'kalzumeus', url: 'http://www.kalzumeus.com/feed/'},
                {title: 'hs', url: 'http://feeds.feedburner.com/HighScalability'},
                {title: 'gopher', url: 'https://blog.gopheracademy.com/index.xml'},
                {title: 'Andy Gavin', url: 'http://all-things-andy-gavin.com/feed/'},
                {title: 'Matt Greer', url: 'http://www.mattgreer.org/feed.xml'},
                {title: 'NerdFitness', url: 'http://www.nerdfitness.com/feed'},
                {title: 'Mark Manson', url: 'http://markmanson.net/feed'},
                {title: 'DIY Photogrpahy', url: 'http://feeds.feedburner.com/Diyphotographynet'},
                {title: 'Netflix Tech', url: 'http://techblog.netflix.com/rss.xml'},
                {title: 'History Blog', url: 'http://www.thehistoryblog.com/feed'},
                {title: 'Parttime Photo', url: 'http://feeds.feedburner.com/ThePartTimePhotographer'},
            ];
            if (feeds.length === 0) {
                for (var i=0; i<feedSources.length; i++) {
                    FeedLoader.fetch({q: feedSources[i].url, num: 10}, {}, function (data) {
                        var feed = data.responseData.feed;
                        feeds.push(feed);
                    });
                }
            }
            return feeds;
        };
    })
    .controller('FeedCtrl', function ($scope, FeedList) {
        $scope.feeds = FeedList.get();
        $scope.$on('FeedList', function (event, data) {
            $scope.feeds = data;
        });
    });
</script>


<!-- copied from http://www.jdev.it/a-very-simple-rss-reader-with-angularjs-and-google-feed-api/ -->

</body>
</html>
